/* Write your CSS here */
* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
.main-bg-container {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 35px;
}
